@using Lib_clases

@{
    ViewBag.Title = "Usuarios";
}

@{
    List<Usuario> usuarios = (List<Usuario>)ViewBag.usuarios;
}

<div class="container">
    <div class="col-lg-offset-3">

        <h2>Listado de usuarios</h2>

        <table>
            <tr>
                <th>Id_usuario</th>
                <th>Nombre_usuario</th>
                <th>Clave</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>Tipo_usuario</th>
                <th>Estado_usuario</th>
            </tr>
            @{
                foreach (var pedido in usuarios)
                {
                    <tr>
                        <td>@pedido.Id_usuario</td>
                        <td>@pedido.Nombre_usuario</td>
                        <td>@pedido.Clave</td>
                        <td>@pedido.Nombre</td>
                        <td>@pedido.Apellido</td>
                        <td>@pedido.Edad</td>
                        <td>@pedido.Tipo_usuario</td>
                        <td>@pedido.Estado_usuario</td>

                        <td> <input onclick="document.location.href = '@Url.Content("~/Usuario/Edit/?Id="+pedido.Id_usuario)'" type="button" value="Editar" /> </td>
                        <td> <input onclick="document.location.href = '@Url.Content("~/Usuario/Delete/?Id="+pedido.Id_usuario)'" type="button" value="Eliminar" /> </td>
                    </tr>
                }
            }

        </table>

        @TempData["mensaje"]

    </div>
</div>




